.btn-danger {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: var(--red);
    color:  var(--grey-100);
    cursor: pointer;
    border: none;
    border: 2px solid;
    transition: .3s;
} 
.btn-danger:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}
.btn-edit {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: var(--yellow);
    color:  var(--white);
    letter-spacing: 1.3px;
    cursor: pointer;
    border: none;
    border: 2px solid;
    transition: .3s;
} 
.btn-edit:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}
