header {
  height: 100px;
  background-color: var(--grey-500);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li a {
  color: var(--green-light1);
  text-decoration: none;
  padding: 10px 15px;
}

.homeLi {
  background-color: var(--grey-500);
  padding: 7px 12px;
  box-shadow: rgba(79, 79, 140, 0.45) 06px 13px 27px 05px;
}
nav ul li .active {
  color: var(--red-dark);
}

header .logout-btn {
  padding: 10px 12px;
  background-color: var(--grey-600);
  cursor: pointer;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  color: var(--green-light1);
  margin-top: 10px;
  margin: 10px;
  border: var(--green-light2) solid 0.1em;
}

header .logout-btn:hover {
  /* background-color: var(--grey-400); */
  opacity: 0.4;
}

h1,
h2,
h3 {
  color: var(--green-light1);
}
